%main
  .container
    .content
      #homepage
        #slides
          .row
            %ul.paging
              .slide-btn
                .span2
                  %h3.visible-desktop
                    %br
                    Popular Products
                    %i.fa.fa-lg.fa-arrow-right.pull-right
                .span2.offset
                  %li
                    %a#pella.feature-tab{href: "#0"}
                      %i
                .span2
                  %li
                    %a#milgard.feature-tab{href: "#1"}
                      %i
                .span2
                  %li
                    %a#superior.feature-tab{href: "#2"}
                      %i
                .span2
                  %li
                    %a#aaw.feature-tab{href: "#3"}
                      %i
                .span2
                  %h3.visible-desktop
                    %br
                    %br
                    %i.fa.fa-lg.fa-arrow-left
          .feature-content.slides_container
            #pella-content.slide-content
              .row
                .span4
                  .thumbnail
                    = image_tag "pella/p-beauty-1.jpg"
                    .caption.center Pella Architect Wood Windows
                .span4
                  .thumbnail
                    = image_tag "pella/p-beauty-2.jpg"
                    .caption.center Pella Proline Bay Window
                .span4
                  .thumbnail
                    = image_tag "pella/p-beauty-3.jpg"
                    .caption.center Pella Proline Patio Door

            #milgard-content.slide-content
              .row
                .span4
                  .thumbnail
                    = image_tag "milgard/m-beauty-1.jpg"
                    .caption.center Milgard StyleLine Vinyl Windows
                .span4
                  .thumbnail
                    = image_tag "milgard/m-beauty-2.jpg"
                    .caption.center Milgard Tuscany Vinyl Windows
                .span4
                  .thumbnail
                    = image_tag "milgard/m-beauty-3.jpg"
                    .caption.center Milgard Essence Wood Windows
            #superior-content.slide-content
              .row
                .span4
                  .thumbnail
                    = image_tag "superior/s-beauty-1.jpg"
                    .caption.center Superior Ultima Vinyl Window
                .span4
                  .thumbnail
                    = image_tag "superior/s-beauty-2.jpg"
                    .caption.center Superior Series 9001 Vinyl Windows
                .span4
                  .thumbnail
                    = image_tag "superior/s-beauty-3.jpg"
                    .caption.center Superior Geometric Windows
            #aaw-content.slide-content
              .row
                .span4
                  .thumbnail
                    = image_tag "aaw/a-beauty-1.jpg"
                    .caption.center AAW H-Series Decorative Glass Door
                .span4
                  .thumbnail
                    = image_tag "aaw/a-beauty-2.jpg"
                    .caption.center AAW 101-A Unique Entry Door
                .span4
                  .thumbnail
                    = image_tag "aaw/a-beauty-3.jpg"
                    .caption.center AAW 525-A Unique Entry Door
    %hr