%main.main-top.bg3
  .container.main-container
    .row.no-height
      .span4.pull-right
        %div
          .well
            %h2.pull-right Get a FREE Quote!
            = render "leads/form"
    .clear
    .flexslider.image-slider
      %ul.slides
        %li
          .row-fluid
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/energy-efficient.png", alt: "image", style: "min-width: 618px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 ENERGY EFFICIENCY
                  %h3 DISPLAY you WEBSITE perfectly on all devices...
                  %p Knight Rider, a shadowy flight into the dangerous world of a man who does not exist.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/wood-window.png", alt: "image", style: "min-width: 465px; margin-left: -60px;"
                .main-text.span6.z-index.well
                  %h1 CLASSIC WOOD
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/heat-resistance.png", alt: "image", style: "min-width: 618px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 HEAT RESISTANCE
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/entry-door.png", alt: "image", style: "min-width: 308px;"
                .main-text.span6.z-index.well
                  %h1 FIRST IMPRESSION
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/bay-window.png", alt: "image", style: "min-width: 623px; margin-left: -125px;"
                .main-text.span6.z-index.well
                  %h1 CUSTOM BAY WINDOWS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/arch-window.png", alt: "image", style: "min-width: 272px;"
                .main-text.span6.z-index.well
                  %h1 UNIQUE ARCH TOPS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "istockphoto/faded/vinyl.png", alt: "image", style: "min-width: 794px; margin-left: -200px;"
                .main-text.span6.z-index.well
                  %h1 VINYL COLOR OPTIONS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height