%main.main-top.bg3
  .container.main-container
    .row.no-height
      .span4.pull-right
        %div
          .well
            %h2.pull-right Get a FREE Quote Today!
            = render "leads/form"
    .clear
    .flexslider.image-slider
      %ul.slides
        %li
          .row-fluid
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/energy-efficient.jpg", alt: "image", style: "width: 714px; margin-left: -155px;"
                .main-text.span6.z-index.well
                  %h1 ENERGY EFFICIENCY
                  %h3 Retain the indoor comfort of your home and save money
                  %p Products in some areas offer interest-deductible financing, keeping payments low
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/classic-wood.jpg", alt: "image", style: "width: 714px; margin-left: -155px;"
                .main-text.span6.z-index.well
                  %h1 CLASSIC WOOD
                  %h3 Enjoy the beauty of real wood with maintenance-free exterior
                  %p Keep a traditional feel to your home with beautiful wood products that are historically approved.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/heat-resistance.jpg", alt: "image", style: "width: 714px; margin-left: -155px;"
                .main-text.span6.z-index.well
                  %h1 HEAT RESISTANCE
                  %h3 Protect your home from  heat and damaging UV's
                  %p Harmful UV rays are blocked by 95%, reducing effects of fading for furniture and carpets.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/entry-door.jpg", alt: "image", style: "width: 714px; margin-left: -155px;"
                .main-text.span6.z-index.well
                  %h1 FIRST IMPRESSION
                  %h3 Increase the curb appeal of your home easily
                  %p Windows and doors add personal character and quality to your home.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/bay-window3.jpg", alt: "image", style: "width: 600px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 CUSTOM BAY WINDOWS
                  %h3 Incredible improvement to an average opening!
                  %p
                    Projecting outward from a home adding space, volume and light to any room,
                    giving a home more character. Dramatically change a room without major remodeling.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/arch-window.jpg", alt: "image", style: "width: 600px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 UNIQUE ARCH TOPS
                  %h3 Fit the curve and shape of your home!
                  %p These windows take special attention to properly match openings.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/vinyl.jpg", alt: "image", style: "min-width: 794px; margin-left: -200px;"
                .main-text.span6.z-index.well
                  %h1 COLOR OPTIONS
                  %h3 Match the look of your home!
                  %p A variety of different colors are available.  Call for more details.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/overlay/hardware.jpg", alt: "image", style: "width: 714px; margin-left: -155px;"
                .main-text.span6.z-index.well
                  %h1 CUSTOM HARDWARE
                  %h3 A large variety of options to choose from
                  %p We offer all types of products to meet your needs.
            .span4.no-height