%main.main-top.bg3
  .container.main-container
    .row.no-height
      .span4.pull-right
        %div
          .well
            %h2.pull-right Get a FREE Quote Today!
            = render "leads/form"
    .clear
    .flexslider.image-slider
      %ul.slides
        %li
          .row-fluid
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/energy-efficient.jpg", alt: "image", style: "width: 714px; margin-left: -160px;"
                .main-text.span6.z-index.well
                  %h1 ENERGY EFFICIENCY
                  %h3 DISPLAY you WEBSITE perfectly on all devices...
                  %p Knight Rider, a shadowy flight into the dangerous world of a man who does not exist.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/classic-wood.jpg", alt: "image", style: "width: 714px; margin-left: -160px;"
                .main-text.span6.z-index.well
                  %h1 CLASSIC WOOD
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/heat-resistance.jpg", alt: "image", style: "width: 714px; margin-left: -160px;"
                .main-text.span6.z-index.well
                  %h1 HEAT RESISTANCE
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/entry-door.jpg", alt: "image", style: "width: 714px; margin-left: -160px;"
                .main-text.span6.z-index.well
                  %h1 FIRST IMPRESSION
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/bay-window.jpg", alt: "image", style: "width: 600px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 CUSTOM BAY WINDOWS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/arch-window.jpg", alt: "image", style: "width: 600px; margin-left: -120px;"
                .main-text.span6.z-index.well
                  %h1 UNIQUE ARCH TOPS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/vinyl.jpg", alt: "image", style: "min-width: 794px; margin-left: -200px;"
                .main-text.span6.z-index.well
                  %h1 VINYL COLOR OPTIONS
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height
        %li
          .row
            .span8
              .row-fluid
                .span6.no-z-index.pull-right
                  = image_tag "flexslider/hardware.jpg", alt: "image", style: "width: 714px; margin-left: -160px;"
                .main-text.span6.z-index.well
                  %h1 CUSTOM HARDWARE
                  %h3 Imperfection is beauty, madness is genius and ...
                  %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
            .span4.no-height