= simple_form_for(:session, :url => sessions_path, :html => { :honeypot => true }) do |f|
  = f.error_notification

  = f.input :email
  = f.input :password

  = f.button :submit, "Sign in"

%p
  New user?
  = link_to "Sign up now!", signup_path