- provide(:title, 'Windows')

#page-title
  %h1 New Windows

.row-fluid.overflow-hidden{style: "height: 3118px;"}
  .span3.full-height.visible-desktop
    .widget-alt.full-height
      .well{data:{spy:"affix", offset:{top:"0"}}}
        .headline Sections
        %ul.nav.nav-list.links-list-alt
          %li
            %a{href: "#pella"}
              Pella® Examples
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#milgard"}
              Milgard® Examples
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#choosing"}
              Choosing Windows
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#options"}
              Window Options
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#process"}
              Installation Process
              %i.fa.fa-chevron-right.pull-right

  .span9
    #pella.clearfix
      .headline
        %h3 Pella® Window Examples

      %img{class: "thumbnail pull-right", src:"#{image_url('pella/350/350-beauty.jpg')}"}

      %h4
        %em 350™ Series: Distinctive vinyl windows with superior performance

      :markdown
        *Reduces outside noise up to 88%.* Sound control glass helps keep out traffic and
        lawn mower noise for more peace and quiet.

        *Fewer worries about drafts.* Pella® 350
        Series vinyl windows help minimize uncomfortable drafts up to three times better
        than the industry standard.

        - Exclusive SmoothSeam™ welded corners are virtually invisible.
        - Stronger and more durable than typical vinyl windows.
        - 54%-83% more energy efficient with triple-pane glass.

      .clearfix
      %hr

      %img{class: "thumbnail pull-left", src:"#{image_url('pella/designer.jpg')}"}

      %h4
        %em Designer™ Series: Exclusive snap-in window fashion technology

      :markdown
        - Between-the-glass blinds, shades and grilles.
        - Window fashions protect from dust and damage - reducing allergens.
        - 53%-74% more energy efficient with triple-pane glass.

    #milgard.clearfix
      .headline
        %h3 Milgard® Window Examples

      %img{class: "thumbnail pull-right", src:"#{image_url('milgard/tuscany.jpg')}"}

      %h4
        %em Tuscany™ Vinyl Replacement Windows

      :markdown
        - Exceptionally energy efficient
        - Extremely durable
        - Non-corroding
        - Virtually maintenance-free
        - Available in a wide range of styles and shapes
        - Cost effective

      .clearfix
      %hr

      %img{class: "thumbnail pull-left", src:"#{image_url('milgard/style-line.jpg')}"}

      %h4
        %em Style Line™  Series Windows: More Light, More View

      :markdown
        Now you can have a contemporary design and energy efficiency all in one.
        Enhance your home's design with a sleek, clean look. Milgard® Style Line™
        Series windows will make your home feel expansive and the slim profile
        allows for plenty of natural light. With clean lines, functionality and
        durability, you will enjoy the light, the view and so much more for years
        to come.

      .clearfix
      %hr

      %img{class: "thumbnail pull-right", src:"#{image_url('milgard/woodclad.jpg')}"}

      %h4
        %em WoodClad™ Series: Beauty Meets Durability

      :markdown
        If you are looking for wood windows, you are in the right place. With
        Milgard WoodClad windows, you get a carefree fiberglass exterior, plus the
        interior rich, warm beauty of wood windows. Our WoodClad windows feature
        furniture-grade, natural wood in Douglas Fir without a nail hole or staple
        on them. Seal with a clear sealant or stain to match your existing woodwork.
        For the exterior, order Milgard WoodClad Series fiberglass windows in any
        of our factory-applied standard exterior colors. Customize even further
        with our wide selection of hardware and grid options.


    #choosing.clearfix
      .headline
        %h3 Choosing Your New Windows
      %h4
        %em When looking for new windows, DNW encourages customers to consider the following criteria

      .row-fluid
        .span7
          .pricing-table
            .color-1
              %h3 Get the windows that are right for your home
              %h4.center DNW can help you find the perfect fit
              %ul.unstyled
                %li
                  %i.fa.fa-picture-o
                  What is the best window material for your home
                %li
                  %i.fa.fa-list-ul
                  Which window features you want to include
                %li
                  %i.fa.fa-arrows-h
                  How to compare window lines, low-end to high-end
                %li
                  %i.fa.fa-angle-double-up
                  The brand's overall reputation and history
                %li
                  %i.fa.fa-money
                  How the brand's prices compare to other brands
                %li
                  %i.fa.fa-wrench
                  What kind of maintenance the windows will require
                %li
                  %i.fa.fa-certificate
                  The warranty the manufacturer offers on their products
              %h4.center.sign-up
                Get a free quote today!
                = link_to "Free Quote", savings_path, :class => "btn btn-majoo"
        .span5
          %img{class: "thumbnail", src:"#{image_url('milgard/tuscany-b.jpg')}"}

    #options.clearfix
      .headline
        %h3 Window Options for Customers
      :markdown
        #### *DoorsNWindows will install windows from any store, retailer, or manufacturer*

      %img{class: "thumbnail pull-left", src:"#{image_url('pella/designer/DS_Beauty_4747.jpg')}"}

      :markdown
        Our product policy is very simple: we take full responsibility for
        the installation of our customers' windows, provided we first come and
        measure your home to ensure which windows and sizes will work.  So long
        as the manufacturer builds your windows according to the spec we provide,
        we ensure they will install properly.  DoorsNWindows will still install
        windows we did not measure, but we cannot guarantee they will work in your
        home unless we are able to first provide measurements.

    #process
      .headline
        %h3 The Window Installation process

      :markdown
        #### *How DNW can help you get new windows, from start to finish*


      :markdown
        1. It really starts off with an accurate assessment and measurement of each opening.
        2. We will remove any window treatments within the wall condition.
        3. Clear out the opening removing sashes, stop etc.
        4. We use the strongest the poly urethane sealant that will put behind the back of all
        window fin. There are slight variations depending on the type of window application.
        5. Windows are fastened with galvanize three-inch screws and squared into opening.
        6. We will then inject a foam between any area or gap between the new frame and the old.
        This will harden strengthening your window frame making it more rigid. It will also help with installation.
        7. We will then trim around the perimeter of your window with a matching vinyl in most cases around the inside.
        8. Your home will be Clean throughout the whole process and protected.
        9. We will walk the job and verify everything as been done properly. If there are any
        manufactured defect in the product not due to installation. Manufactures warranty and
        service will handle this directly with the customer to schedule anything that needs to
        be serviced or replaced. Payment for installation must still be paid if it is a manufactured
        issue. If we for some reason receive merchandise that cannot be installed due to the
        manufacture. These items may be deducted from your installation payment with the balance being paid on completion.


