- provide(:title, 'Services')

#page-title
  %h1 DoorsNWindows Services
.row-fluid.overflow-hidden{style: "height: 1990px;"}
  .span3.full-height
    .widget-alt.full-height
      .well{data:{spy:"affix", offset:{top:"0"}}}
        .headline Sections
        %ul.nav.nav-list.links-list-alt
          %li
            %a{href: "#estimates"}
              Consultations
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#products"}
              Product Specialists
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#installations"}
              Installations
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#maintenance"}
              Maintenance
              %i.fa.fa-chevron-right.pull-right
  .span9
    #estimates.clearfix
      .headline
        %h3 Estimates & Consultations
      :markdown
        #### *All the information you need to plan your home renovations*

      %img{class: "thumbnail pull-left", src:"#{image_url('istockphoto/measure.jpg')}"}

      :markdown
        DoorsNWindows has always been a family owned & run operation.
        My wife and I have been together since high school,
        And we just celebrated our 25th anniversary.
        We have been together for 29 years, and when I became
        a window and door specialty license contractor three years
        before we got married, we've worked together since.
        We both handled different aspects of the job.

        Our expertise comes from being actual installers that knows
        precisely what's involved in a job. We have never had a career
        in anything else but the window and door industry and we have
        seen many things change. We are a small company and really
        do not have any intention on being large. We want to keep
        things less complicated. We are blessed with a beautiful
        daughter 13 years old and committed to homeschooling her.

        We have been blessed doing a trade and offering a service
        we truly enjoy.

        #### *Tough times*

        We went through some very testing time losing a lot of money
        and even our home during the housing bubble. We literally had
        material for 10 homes and had completed multiple jobs where
        customers had just abandoned their homes. This left us at major
        loss. We thank God for his strength and pulling us through
        those times. We remain obligated and committed to our customers
        through all of this. This is why we still have a good name.

    #products.clearfix
      .headline
        %h3 Product and Manufacturer Specialists
      :markdown
        #### *We have expert knowledge on all of the popular products & manufacturers*

      .row-fluid
        .span2.h200
          %img{class: "thumbnail vert-align", src:"#{image_url('logos/aaw.png')}"}
        .span2.h200
          %img{class: "thumbnail vert-align", src:"#{image_url('logos/atrium.jpg')}"}
        .span2.h200
          %img{class: "thumbnail", src:"#{image_url('logos/escon.jpg')}"}
        .span2.h200
          %img{class: "thumbnail vert-align", src:"#{image_url('logos/milgard.jpg')}"}
        .span2.h200
          %img{class: "thumbnail", src:"#{image_url('logos/pella.jpg')}"}
        .span2.h200
          %img{class: "thumbnail vert-align", src:"#{image_url('logos/superior.jpg')}"}

      :markdown
        We do not like playing salesman games. We only make our
        money on the installation aspect and give you the best
        price available on the product. We do not sell product
        without our installation. We save our customers an enormous
        amount of money. In fact we install many products customers
        have bought from stores and we will go pick up and deliver
        and install their product.

        Customers will not speak to inexperienced salespeople but
        to people that can help answer their questions. We will
        gladly compete against our competitors for your business
        and go over any differences for you to make an educated
        investment.

        We are not a large company with salespeople nor do we want
        to be. We have done it before and there is a loss of quality.
        In order to serve our customers efficiently and cut costs.
        We depend heavily on keeping our overhead low. We do not have
        physical showrooms that takes up money and man-hours that
        would add to the customer's cost.

    #installations.clearfix
      .headline
        %h3 High Quality Installations

      %img{class: "thumbnail pull-right", src:"#{image_url('istockphoto/expert.jpg')}"}

      :markdown
        #### *We are able to put just about any type of product in your home.*

        1. It really starts off with an accurate assessment and measurement of each opening.
        2. We will remove any window treatments within the wall condition.
        3. Clear out the opening removing sashes, stop etc.
        4. We use the strongest the poly urethane sealant that will put behind the back of all window fin.
        There are slight variations depending on the type of window application.
        5. Windows are fastened with galvanize three-inch screws and squared into opening.
        6. We will then inject a foam between any area or gap between the new frame and the old.
        This will harden strengthening your window frame making it more rigid. It will also help with installation.
        7. We will then trim around the perimeter of your window with a matching vinyl in most cases around the inside.
        8. Your home will be Clean throughout the whole process and protected.
        9. We will walk the job and verify everything as been done properly. If there are any manufactured
        defect in the product not due to installation. Manufactures warranty and service will handle this
        directly with the customer to schedule anything that needs to be serviced or replaced. Payment for
        installation must still be paid if it is a manufactured issue. If we for some reason receive merchandise
        that cannot be installed due to the manufacture. These items may be deducted from your installation payment
        with the balance being paid on completion.

    #maintenance.clearfix
      .headline
        %h3 Maintenance Plans & Packages

      .row-fluid
        .span7
          .pricing-table
            .color-1
              %h3 We go above and beyond the competition
              %h4.center The best service at the lowest prices anywhere
              %ul.unstyled
                %li
                  %i.fa.fa-phone
                  You will only speak with knowlegable representatives
                %li
                  %i.fa.fa-ban
                  We refuse to use high pressure sales with you
                %li
                  %i.fa.fa-thumbs-o-up
                  Products from any manufacturer or store of your choice
                %li
                  %i.fa.fa-road
                  Our install crew has 29 years of experience in quality
                %li
                  %i.fa.fa-star
                  We only use the best materials and the best techniques
                %li
                  %i.fa.fa-certificate
                  We offer a 5-year warranty on all our installations
              %h4.center.sign-up
                See for yourself:
                = link_to "Get a Free Quote today!", savings_path
        .span5
          %img{class: "thumbnail", src:"#{image_url('company/cup.jpg')}"}