- @leads.each do |lead|
  %li.lead-item{:id => "lead_"+lead.id.to_s}
    .row-fluid.lead-data{:id => "leaddata_"+lead.id.to_s}
      .span1.lead-id=       lead_badge(lead.id, lead.status)
      .span2.lead-name=     lead.name
      .span1.lead-phone=    lead.phone
      .span2.lead-email=    lead.email
      .span1.lead-zip=      lead.zip
      .span1.lead-interest= lead.interest
      .span2.lead-status=   lead.status
      .span1
        %strong.updated-at= l(lead.updated_at, format: :short)
      .span1
        %button{ :class => "btn-edit btn btn-mini btn-primary" }
          #{ icon("icon-edit icon-white") }
    = simple_form_for(lead, :defaults => { :required => false }, :html => { :class => 'form-vertical' }, remote: true) do |f|
      = f.error_notification
      .row-fluid.error-placeholder
      .row-fluid.lead-form{:id => "leadform_"+lead.id.to_s}
        .span1
          %strong ##{ lead.id }
          %small.row-fluid.muted Created On:
          %strong.muted= l(lead.created_at, format: :short)
        .span2= f.input :name, placeholder: 'First Last', input_html: { pattern: "[a-zA-Z-. ]+" }
        .span1= f.input :phone, placeholder: '123-456-7890', input_html: { pattern: "[(]?[0-9]{3}[)]?[-. ]?[0-9]{3}[-. ]?[0-9]{4}" }
        .span2= f.input :email, placeholder: 'user@example.com'
        .span1= f.input :zip, placeholder: '12345', input_html: { pattern: "[0-9]{5}" }
        .span1= f.input :interest, :label => false, :collection => lead_interests, :as => :radio_buttons
        .span2= f.input :status, :label => false, :collection => lead_status_options, :include_blank => false
        .span1
          %small.row-fluid.muted Last Updated:
          %strong.updated-at= l(lead.updated_at, format: :short)
        .span1
          %button{ :class => "btn-collapse btn btn-mini btn-success" }
            #{ icon("icon-check icon-white") }
          = f.button :submit, "Update", :disabled => true, :class => "btn-action btn-update", data: {disable_with: "Saving..."}
          = button_link_to "Delete", lead_path(lead), :class => "btn btn-action btn-danger", :remote => true, :method => :delete, :data => { :confirm => 'Delete "'+lead.name+'" permanently?' }
        / - if current_user.admin? && !current_user?(user)
        /   #delete.span1.offset1= link_to "&times;".html_safe, user, method: :delete, data: { confirm: "Delete User?" }, class: 'close'
      .row-fluid.divider