.row-fluid
  %h2
    All Leads

.label.label-info= page_entries_info @leads
#lead-controls.row-fluid
  = will_paginate @leads, :class => 'pagination', :inner_window => 2, :previous_label => icon("icon-chevron-left"), :next_label => icon("icon-chevron-right")
  = form_tag @lead, :class => "navbar-search pull-right", :method => :get do
    = text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search Leads"

%ul.nav.nav-list.table-striped
  %li#leads_header
    .navbar
      .navbar-inner
        .row-fluid
          .span1= sortable "created_at", "Lead"
          .span2= sortable "name"
          .span1= sortable "phone"
          .span2= sortable "email"
          .span1= sortable "zip", "Zip Code"
          .span1= sortable "interest"
          .span2= sortable "status"
          .span1= sortable "updated_at", "Updates"
          .span1 <span>Actions</span>

  = render 'leads/leads'
