.page-title
  %h1 How It Works

.headline
  %h3
    %em A step by step process on replacing your home's doors and windows, from beginning to end

#slides
  .row
    %ul.paging
      .slide-btn
        .span2.offset2
          %li
            %a#sweepstake.feature-tab{href: "#0"}
              %i 1
        .span2
          %li
            %a#dashboard.feature-tab{href: "#1"}
              %i 2
        .span2
          %li
            %a#responsive.feature-tab{href: "#2"}
              %i 3
        .span2
          %li
            %a#cloud.feature-tab{href: "#3"}
              %i 4
  .feature-content.slides_container
    #sweepstake-content.slide-content{style: "display:block"}
      .row
        .span4
          = image_tag "2.jpg", align: "right"
        .span8
          :markdown
            ## 1. Schedule an Appointment for a Quote

            To get your quote, first fill out our Free Quote form and DoorsNWindows will contact you to set up an appointment.
            Our average call time after receiving your request is about 30 minutes.  Or call our toll free number, 1-877-218-4695

            Once we touch base with you, we can schedule an appointment for our Estimator to come to your home and prepare your quote.
            Our schedule times are flexible and run Monday - Saturday, 9am - 5pm.

          = link_to "Get a Free Quote", savings_path, :class => "btn btn-large btn-majoo pull-right"

          %br
          %br
          %br
    #dashboard-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/expert2.jpg", align: "right"
        .span8
          :markdown
            ## 2. Project Assessment and Quoting

            We will send our Estimator to your home on the day of our scheduled appointment.
            Once the Estimator arrives, they will ask you to show them the doors or windows you want a quote for.
            The Estimator will then measure each window or door we are quoting for you.
            Measurements take 15-30 minutes on average, depending on the size of your home or project.

            Feel free to ask our Estimator any questions you may have;
            we can often answer clients' questions regarding their home or project on-site.

            Once our office has received the measurements, we will email you a quote within 24 hours.
            Your quote will be the total of the cost of products, taxes and installation.
            DoorsNWindows guarantees to match or beat any competitors prices on products/installations of
            equal or lesser value.
    #responsive-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/how-3.jpg", align: "right"
        .span8
          :markdown
            ## 3. Product Ordering

            Once you have approved your project with DoorsNWindows and signed your contract,
            we will order your products from the manufacturer.  Project lead time will vary
            depending on the number and type of products you have ordered.  Windows generally
            take 2-4 weeks to arrive.

            DoorsNWindows can also install many stock products from warehouse stores.  For example,
            if there is an entry door in stock at Lowe's or Home Depot that you want to have installed,
            these products will work in many homes.  Whether or not stock products will work depends
            on the opening of your door.  Often the door openings are too large for standard stock
            sized doors, and the project will also require additional materials and labor to build out
            the overlarge openings.

    #cloud-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/how-2.jpg", align: "right"
        .span8
          :markdown
            ## 4. Installation Process

            1. We will remove any window treatments within the wall condition.
            2. Clear out the opening removing sashes, stop etc.
            3. We use the strongest the poly urethane sealant that will put behind the back of all window fin.
            There are slight variations depending on the type of window application.
            4. Windows are fastened with galvanize three-inch screws and squared into opening.
            5. We will then inject a foam between any area or gap between the new frame and the old.
            This will harden strengthening your window frame making it more rigid. It will also help with installation.
            6. We will then trim around the perimeter of your window with a matching vinyl in most cases around the inside.
            7. Your home will be clean throughout the whole process and protected.
            8. We will walk the job and verify everything has been done properly.

