%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    ABOUT US
    %b.caret
  %ul.dropdown-menu
    %li= link_to 'DoorsNWindows Story', about_us_story_path, 'data-no-turbolink' => true
    / %li= link_to 'Services', about_us_services_path, 'data-no-turbolink' => true
    %li= link_to 'Guarantee', about_us_guarantee_path
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    PRODUCTS
    %b.caret
  %ul.dropdown-menu
    %li= link_to 'Windows', products_windows_path, 'data-no-turbolink' => true
    %li= link_to 'Doors', products_doors_path, 'data-no-turbolink' => true
    / %li= link_to 'Hardware', products_hardware_path, 'data-no-turbolink' => true
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    MANUFACTURERS
    %b.caret
  %ul.dropdown-menu{style:"min-width:200px;"}
    / %li= link_to 'Choosing a Manufacturer', manufacturers_choosing_path, 'data-no-turbolink' => true
    %li
      %a{href: "http://www.atrium.com/", target: "_blank"}
        Atrium
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.aawdoors.com/", target: "_blank"}
        AAW Doors
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.baldwinhardware.com/home.aspx", target: "_blank"}
        Baldwin Hardware
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.escondoor.com/home.html", target: "_blank"}
        Escon Doors
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.milgard.com/", target: "_blank"}
        Milgard
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.pella.com/home/default.aspx", target: "_blank"}
        Pella
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.kwikset.com/", target: "_blank"}
        Kwikset Locks
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
    %li
      %a{href: "http://www.superior-windows.com/", target: "_blank"}
        Superior
        %span.fa-stack.fa-lg.pull-right
          %i.fa.fa-mail-forward.fa-stack-2x.fa-green-dark
          %i.fa.fa-link.fa-stack-1x
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    INFO
    %b.caret
  %ul.dropdown-menu
    %li= link_to "How it works", info_how_path
    %li= link_to "FAQs", info_faqs_path
    / %li= link_to "Install Warranty", info_installs_path
    / %li= link_to "Mfg. Warranty", info_mfgs_path
    / %li= link_to "Historical Homes", info_historic_path
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    CONTACT
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Email Us", contact_email_path
    %li= link_to "Contact Info", contact_info_path

- if signed_in?
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      ADMIN
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Leads", leads_path
      %li= link_to "Users", users_path
      %li= link_to "Activities", activities_path
  %li.dropdown
    %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
      ACCOUNT
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Profile", user_path(current_user)
      %li= link_to "Settings", edit_user_path(current_user)
      %li= link_to "Sign Out", signout_path, method: "delete"
