!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= full_title(yield(:title))
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Doorsnwindows'}"}
    = stylesheet_link_tag "application-main", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application-main", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    -# application layout styled for Twitter Bootstrap 2.3
    %header
      = render 'layouts/navigation'
    - if params[:controller] == "static_pages" && params[:action] == "home"
      = render 'static_pages/home_extra'
      = render "layouts/majoo_js"
    %main{:role => "main"}
      %div{:class => container_class}
        .content{:id => params[:controller]}
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
        = debug(params) if Rails.env.development?
    = render 'layouts/footer'
